.calc{
    display: flex;
    gap: 1rem;
    width: 75vh;
    height: auto
}
.calc-func {
    display: flex;
    flex-direction: column;
}
.calc-3 {
    width: 100%;
    display: flex;
    
}
.zero {
    width: 66.7%; 
    
}
.display {
    border: black solid;
    height: 2rem;
    width: 10rem;
    text-align: center;
}

.display-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.hidden {
    /* color: white; */
    border: none;
    width: 0;
    height: 0;
}
