.yellow {
    color: white;
    background-color: rgb(255, 149, 0);
}

.gray {
    background-color: rgb(212, 212, 210);
}

.black {
    color: white;
    background-color: rgb(80,80,80);
}
button {
    border-radius: 50%;
    height: 3.6rem;
    width: 3.6rem;
    border: none;
    font-size: 24px;
}

.display {
    color: white;
    text-align: right;
    /* border: red solid; */
    height: 3rem;
    
}
#answer {
    font-size: 48px;
    margin-top: 0;
}
#last-eq {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 3vh;
}


.zero {
    width: 8rem !important;
    border-radius: 30% !important;
    text-align: left;
    padding-left: 1rem;
    grid-column-start: 1;
    grid-column-end: 3;
}

.display-div{
    height: 6rem;
    width: 14rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border: rgb(160,160,160) solid;
    background-color: rgb(80,80,80);
    border-radius: 10%;
    padding: 1vh;
}

.calculator-container {
    width: 16rem;
    padding: 2.4rem;
    border-radius: 10%;
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 10vh auto;

}

.calc {
    gap: 6px;
    display: grid;
    grid-template-columns: 4rem 4rem 4rem 4rem;    
}

.footer {
    background-color: lightgoldenrodyellow;
    display: flex;
    justify-content: end;position: absolute;
    bottom: 0;
    left: 0;
    right: 0;    
    }

.footerText {
    text-align: center;
    color: black;
    margin: 0 auto;
    font-size: 16px;
}