.calc{
    display: flex;
    gap: 1rem;
    /* border: red solid;     */
    justify-content: space-around;
    height: auto
}
.calc-func {
    /* border: green solid; */
    width: 10vh;
    display: flex;
    flex-direction: column;
}
.calc-3 {
    width: 20vh;
    display: flex;
    
}
.number{
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: stretch; */
    /* justify-content: space-between; */
    width: 30vh;
}
.zero {
    width: 66.7%; 
    
}
.display {
    height: 2rem;
    width: 10rem;
    text-align: center;
}

.display-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: black solid;
    /* align-items: center; */
}

.calculator-container {
    display: flex;
    flex-direction: column;
    width: 40vh;
    border: black solid;
}